:root{
    /* Website Colors */
    --a-main-color: #132037;
    --a-2-main-color: #0F1A2C;
    --a-2-2-main-color: #8895AA;
    --a-accent-color: #F2572B;

    /* Text Colors */
    --main-text-color: #FFFFFF;
    --secondary-text-color:#BEBCBC;
    --navbar-color: #DEDEDE;

}

body{
    margin: 0 auto;
    background-color: var(--a-main-color);
    font-family: 'Teko';
}

header{
    background-color: var(--a-2-main-color);
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
    .header-container{
        padding: 0 100px;
        background-color: var(--a-2-main-color);
        max-width: 1440px;
        height: 80px;
        margin: 0 auto;
        align-content: center;
        .wrap{
            width: 100%;
            max-width: 1240px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            a {text-decoration: none;}
            .logo{
                font-size: 44px;
                color: var(--a-accent-color);
            }
            .side-header{
                display: flex;
                gap: 27px;
                nav{
                    display: flex;
                    gap: 20px;
                    position: relative;
                    .nav-item{
                        font-size: 26px;
                        color: var(--navbar-color);
                    }
                    .nav-item:hover{
                        color: var(--a-accent-color);
                        transition: all 0.4s ease;
                    }
                    .dot-nav-1{
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background-color: var(--navbar-color);
                        /* Chinh cai nay o moi thang khac nhau */
                        bottom: -7px;
                        left: 18px;
                        display: none;
                    }
                    .dot-nav-2{
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background-color: var(--navbar-color);
                        bottom: -7px;
                        left: 105px;
                        display: none;
                    }
                    .dot-nav-3{
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background-color: var(--navbar-color);
                        bottom: -7px;
                        left: 200px;
                        display: none;
                    }
                    .dot-nav-4{
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background-color: var(--navbar-color);
                        bottom: -7px;
                        left: 280px;
                    }
                }
                .button-wrap{
                    display: flex;
                    gap: 11px;
                    .login-button,.sign-button{
                        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
                        color: #000000;
                        border-radius: 20px;
                        font-size: 26px;
                    }
    
                    .login-button{
                        padding: 0 36px;
                        background-color: var(--a-2-2-main-color);
                    }
                    .login-button:hover{ 
                        background-color: #586374;
                        transition: all 0.2s ease;
                    }
    
                    .sign-button{
                        padding: 0 28px;
                        background-color: var(--a-accent-color);
                    }
                    .sign-button:hover{
                        box-shadow: 0 4px 8px rgba(242, 87, 43, 0.76);
                        transition: all 0.4s ease;
                    }
                }
            }
        }
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teko";
}
.wrapper {
    width: 100%;
    height: auto;
    /* background-color: #132037; */
    display: flex;
    justify-content: center;
    padding: 0 0 155px;
}
.wrapper .container {
    width: 80%;
    max-width: 1440px;
    height: auto;
    position: relative;
    top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
}
.box-inner {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: rgba(15, 26, 44, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.box-left {
    /* width: 48%; */
    max-width: 520px;
    height: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-box-left {
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}
.box-mini1 {
    width: 275px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.image-mini-box {
    width: 100%;
    height: 227px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 4px 12.4px 0px rgba(0, 0, 0, 0.7);
}
.emotion-icon-box {
    width: 100%;
    height: 63px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7) inset;
    background-color: rgba(255, 255, 255, 0.82);
}
.emotion-icon-box:hover {
    box-shadow: 0px 4px 12px 0px rgba(242, 87, 43, 1);
}
.icon {
    font-size: 28px;
    cursor: pointer;
}
.icon:hover {
    scale: calc(2.5);
    transition: all 0.4s ease;
    cursor: pointer;
}
.box-mini2 {
    width: 215px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.time-box {
    width: 174px;
    height: 80px;
    padding: 7px 12px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 8.7px 0px rgba(0, 0, 0, 0.7) inset;
}
.time-box:hover {
    box-shadow: 0px 4px 11.2px 0px rgba(242, 87, 43, 1);
}
.mini-content-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.box-top {
    width: 100%;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
.big-text {
    font-family: "Inter";
    font-weight: 200;
    font-size: 24px;
    color: rgba(15, 26, 44, 1);
}
.growth {
    font-family: "Inter";
    width: 24px;
    height: 24px;
}
.box-bottom {
    font-family: "Inter";
    font-weight: 200;
    font-size: 10px;
    color: rgba(16, 27, 45, 1);
}
.box-right {
    width: 45%;
    max-width: 480px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-box-right {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.right-box-mini1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-box-right {
    width: 100%;
    height: 57px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.text-box-right {
    width: 100%;
    height: auto;
    font-weight: 600;
    font-size: 20px;
    color: rgba(222, 222, 222, 1);
}
.right-box-mini2 {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-view-more {
    width: 273px;
    height: 58px;
    border-radius: 20px;
    font-size: 30px;
    background-color: rgba(15, 26, 44, 1);
    border: 3px solid rgba(242, 87, 43, 1);
    color: rgba(242, 87, 43, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    background-color: var(--a-2-main-color);
    .footer-wrap{
        background-color: var(--a-2-main-color);
        max-width: 1440px;
        padding: 0 100px;
        height: 355px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .wrap{
            width: 100%;
            max-width: 1240px;
            .content-wrap{
                display: flex;
                justify-content: space-between;
                .left-side{
                    .logo-footer{
                        font-size: 45px;
                        color: var(--a-accent-color);
                        text-decoration: none;
                    }
                    .text{
                        width: 254px;
                        font-size: 20px;
                        color: var(--navbar-color);
                    }
                }
                .right-side{
                    display: flex;
                    justify-content: space-between;
                    max-width: 754px;
                    width: 100%;
                    .box{
                        .heading{
                            font-size: 45px;
                            color: #FFFFFF;
                        }
                        .list{
                            display: flex;
                            flex-direction: column;
                            gap: 0;
                            .item a{
                                text-decoration: none;
                                color: var(--navbar-color);
                                font-size: 20px;
                            }
                            .item a:hover{
                                color: var(--a-accent-color);
                                transition: all 0.3s ease;
                            }
                        }
                    }
                }

            }
            .line{
                width: 100%;
                max-width: 999px;
                height: 1px;
                background-color: #FFFFFF;
                margin: 0 auto;
                margin-top: 76px;
            }
            .small-text{
                font-size: 20px;
                width: 100%;
                color: var(--navbar-color);
                text-align: center;
                margin-top: 37px;
            }
        }
    }
}
