:root{
    /* Website Colors */
    --a-main-color: #132037;
    --a-2-main-color: #0F1A2C;
    --a-2-2-main-color: #8895AA;
    --a-accent-color: #F2572B;

    /* Text Colors */
    --main-text-color: #FFFFFF;
    --secondary-text-color:#BEBCBC;
    --navbar-color: #DEDEDE;

}

body{
    margin: 0 auto;
    background-color: var(--a-main-color);
    font-family: 'Teko';
}

header{
    background-color: var(--a-2-main-color);
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
    .header-container{
        padding: 0 100px;
        background-color: var(--a-2-main-color);
        max-width: 1440px;
        height: 80px;
        margin: 0 auto;
        align-content: center;
        .wrap{
            width: 100%;
            max-width: 1240px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            a {text-decoration: none;}
            .logo{
                font-size: 44px;
                color: var(--a-accent-color);
            }
            .side-header{
                display: flex;
                gap: 27px;
                nav{
                    display: flex;
                    gap: 20px;
                    position: relative;
                    .nav-item{
                        font-size: 26px;
                        color: var(--navbar-color);
                    }
                    .nav-item:hover{
                        color: var(--a-accent-color);
                        transition: all 0.4s ease;
                    }
                    .dot-nav-1{
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background-color: var(--navbar-color);
                        /* Chinh cai nay o moi thang khac nhau */
                        bottom: -7px;
                        left: 18px;
                        display: none;
                    }
                    .dot-nav-2{
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background-color: var(--navbar-color);
                        bottom: -7px;
                        left: 105px;
                        display: none;
                    }
                    .dot-nav-3{
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background-color: var(--navbar-color);
                        bottom: -7px;
                        left: 200px;
                        display: block;
                    }
                    .dot-nav-4{
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background-color: var(--navbar-color);
                        bottom: -7px;
                        left: 280px;
                        display: none;
                    }
                }
                .button-wrap{
                    display: flex;
                    gap: 11px;
                    .login-button,.sign-button{
                        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
                        color: #000000;
                        border-radius: 20px;
                        font-size: 26px;
                    }
    
                    .login-button{
                        padding: 0 36px;
                        background-color: var(--a-2-2-main-color);
                    }
                    .login-button:hover{ 
                        background-color: #586374;
                        transition: all 0.2s ease;
                    }
    
                    .sign-button{
                        padding: 0 28px;
                        background-color: var(--a-accent-color);
                    }
                    .sign-button:hover{
                        box-shadow: 0 4px 8px rgba(242, 87, 43, 0.76);
                        transition: all 0.4s ease;
                    }
                }
            }
        }
    }
}